nav {
    overflow: hidden;
    position: relative;
}

#nav-menu {
    width: 80px;
    min-height: calc(100vh - 80px);
}

nav > ul {
    display: none;
    list-style-type: none;
    padding: 10px;
}

nav a:visited {
    color: var(--moyen);
}

nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

nav a:icon {
    color: var(--clair);
    display: block;
}

nav a:hover {
    background-color: var(--clair);
    border: 1px solid var(--fonce);
    color: var(--fonce);
}

nav a:visited:hover {
    color: var(--fonce);
}

#nav-menu.montre {
    width: 200px;
}

@media screen and (max-width: 576px) {
    #nav-menu {
        width: 100vw;
        height: 54px;
        min-height: auto;


    }

    #nav-menu.montre {
        width: 100vw;
        position: fixed;
        height: min-content;
        z-index: 2;
    }
}