table,th,td{
    border: 1px solid black;
}
td, th{
    padding: 4px;
}
thead td{
    background-color: rgb(255, 211, 129);
    color: rgb(39, 39, 39);
}
th{
    background-color: rgb(91, 121, 253);
    color: rgb(255, 255, 255);
}

